<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block default-styles %}
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
              crossorigin="anonymous">
    {% endblock %}
    {% block extension-styles %}{% endblock %}

    {% block title %}
        <title>Bank</title>
    {% endblock %}
</head>
<body>
    {% block foreground %}
        {% block navbar %} {% include 'navbar.html' %} {% endblock %}
        {% block content %}{% endblock %}
    {% endblock %}
</body>
</html>
